# Editor directories and files
.idea

# Package Manager
node_modules
.pnpm-debug.log*

# System
.DS_Store

# Bundle
dist
packages/pro-design-vue/version.ts

# local env files
*.local
.eslintcache
docs/.vitepress/cache
