@import 'common/var';

// .@{pro-prefix}-field {
// }

.@{pro-prefix}-field-color-picker {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 3px;
  border: 1px solid hsl(var(--pro-border));
  border-radius: @border-radius-base;
  &:not(.@{pro-prefix}-field-color-picker-disabled):hover {
    border-color: hsl(var(--pro-primary));
  }

  &-inner {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: @border-radius-base;
  }

  &-empty {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid hsl(var(--pro-border) / 9000%);
    border-radius: @border-radius-base;

    &::after {
      position: absolute;
      inset-inline-end: calc(-1 * 1px);
      top: 0;
      display: block;
      width: 28px;
      height: 2px;
      content: '';
      background-color: hsl(var(--pro-red-600));
      transform: rotate(-45deg);
      transform-origin: calc(100% - 1px) 4px;
    }
  }
}

.@{pro-prefix}-field-checkbox {
  &&-vertical {
    display: inline-block;
    .@{ant-prefix}-checkbox-wrapper + .@{ant-prefix}-checkbox-wrapper {
      margin-inline-start: 0 !important;
    }
    .@{ant-prefix}-checkbox-group-item {
      display: flex;
      margin-inline-end: 0;
    }
  }
}
