/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create an accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attached to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-indigo-1: hsl(212deg 100% 45%);
  --vp-c-indigo-2: hsl(212deg 83% 56%);
  --vp-c-indigo-3: hsl(212deg 87% 64%);
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);
  --vp-c-brand-1: var(--vp-c-indigo-1);
  --vp-c-brand-2: var(--vp-c-indigo-2);
  --vp-c-brand-3: var(--vp-c-indigo-3);
  --vp-c-brand-soft: var(--vp-c-indigo-soft);
  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);
  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);
  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);

  /* Component: Button */
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);

  /* Component: Home */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(120deg, #bd34fe 30%, #41d1ff);
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
  --vp-home-hero-image-filter: blur(44px);

  /* Component: Custom Block */
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
  --vp-layout-max-width: 100%;
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

.VPHome .heading {
  align-items: center;
}

.VPHome .heading .text {
  display: block;
  align-items: center;
  width: 100% !important;
  margin-top: 20px;
  font-size: 20px !important;
  line-height: 40px !important;
  text-align: center;
}

.VPHome .tagline {
  display: block;
  align-items: center;
  width: 100% !important;
  max-width: 100% !important;
  padding-top: 0;
  font-size: 14px !important;
  text-align: center;
}

.VPHome .actions {
  align-items: center;
  justify-content: center;
}

.vp-doc h2 {
  margin: 0;
}

.vp-doc table {
  display: table;
  width: 100%;
}

.vp-doc table th,
.vp-doc table td {
  max-width: 250px;
  white-space: pre-wrap;
}

.vp-doc .example li + li {
  margin-top: 0;
}

.vp-doc .example ul,
.vp-doc .example ol {
  margin: 0;
}

.vp-doc .example a {
  font-weight: 400;
  text-decoration: none;
}

.VPDoc.has-aside .content-container {
  max-width: 1200px !important;
}

.VPNavBar.has-sidebar .content-body {
  padding-right: 32px !important;
}

@media (max-width: 767px) {
  .container {
    max-width: 100% !important;
  }

  .VPNavBar.has-sidebar .content-body {
    padding-right: 0 !important;
  }

  .vp-doc table {
    display: block;
  }
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1031;
  width: 100%;
  height: 2px;
  background: var(--vp-c-indigo-3);
}

#nprogress .peg {
  position: absolute;
  right: 0;
  display: block;
  width: 100px;
  height: 100%;
  box-shadow:
    0 0 10px var(--vp-c-indigo-3),
    0 0 5px var(--vp-c-indigo-3);
  opacity: 1;
  transform: rotate(3deg) translateY(-4px);
}

#nprogress .spinner {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 1031;
  display: block;
}

#nprogress .spinner-icon {
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  border-color: var(--vp-c-indigo-3) transparent transparent var(--vp-c-indigo-3);
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  animation: nprogress-spinner 0.4s linear infinite;
}

.nprogress-custom-parent {
  position: relative;
  overflow: hidden;
}

.nprogress-custom-parent #nprogress .bar,
.nprogress-custom-parent #nprogress .spinner {
  position: absolute;
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1turn);
  }
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1turn);
  }
}

pre[class*='language-'] {
  padding: 20px 0;
  margin: 0;
  background-color: var(--vp-code-block-bg);
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  background: var(--vp-code-line-highlight-color);
}

.token.boolean,
.token.constant,
.token.deleted,
.token.number,
.token.property,
.token.symbol,
.token.tag {
  color: var(--vp-c-brand-1);
}

.token.keyword {
  color: #d73a49;
}

.token.attr-value {
  color: #859900;
}

.dark .token.keyword {
  color: #f97583;
}

.dark .token.attr-value {
  color: #859900;
}
